@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #111;
  padding: 4rem 4rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5); 
}

h1{
  color: #fff;
  font-size: 4rem;
}

.color-box{
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin: 30px 0px;
}

.btn-div{
  display: flex;
  gap: 20px;
}

#start-generate-color, #stop-generate-color{
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #111;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: none;
  border-radius: 10px;
}